/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.imagemLogo {
    flex: 1;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
}

#header::after {
    content: "";
    display: block;
    height: 20px;
    background-color: #252160;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 0px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}

.cabecalho2 {
    display: flex;
    justify-content: center;
}

.menu-item {
    position: relative;
    padding-bottom: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    background-color: #fff;
    border: 1px solid #2F2F2F;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    box-sizing: border-box;
}

.submenuOrganizacao {
    margin: 10px 20px;
    text-align: left;
}

.submenu p {
    font: 600 16px 'WorkSans', sans-serif;

}

.submenu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font: 400 16px 'WorkSans', sans-serif;
    color: #000;
}

.submenuItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

}

.menu-item:hover .submenu {
    display: block;
    text-align: center;
}

.item {
    padding: 10px 10px 8px 10px;
}

.item:hover {
    border-bottom: 1px solid #fff;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.modal-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Posiciona o menu fora da tela à direita */
    width: 100%;
    height: 100%;
    background-color: #252160;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: right 0.5s ease; /* Controla o tempo da animação */
}

.modal-menu .imagemLogo {
    margin: 80px 0 30px 0;
}

.modal-menu .imagemLogo img {
    width: 120px;/
}

.modal-menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 10%;
}

.menu-itemModal {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.itemModal {
    color: white;
    font: 600 20px 'WorkSans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.itemModal:hover {
    color: #c2c2c2;
}

.submenuModal {
    display: none;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.submenuModal a {
    color: rgb(0, 0, 0);
    font: 400 16px 'WorkSans', sans-serif;
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

.submenuModal a:hover {
    color: #5b5b5b;
}

.close-modal {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 101;
}


/* FIM DO CABEÇALHO */



/* COMEÇO DAS MEIAS CANO CURTO */
.titulo {
    font-family: "LibreFranklin";

    margin-left: 5vh;
}

#meiasBabyDesMasc {
    padding-top: 20vh;
}

/* FAZENDO ELA FICAR EM HORIZONTAL COM ESPAÇO */

.todas-as-meias-baby-des-masc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#div-meia {
    align-items: center;
    width: 390px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */
.cores-verde-offwhite,
.cores-branca-cinza,
.cores-azul-marinho,
.cores-marrom-azul,
.cores-vermelho-amarelo,
.cores-azulTurquesa-cinza,
.cores-kit-des-0a6,
.cores-kit-des-6a12,
.cores-branca-verde-colors,
.cores-branca-verde-colors2,
.cores-kit-colors-masc,
.cores-kit-colors-masc2,
.cores-branca-vermelho-malha,
.cores-branca-cinza-faixa,
.cores-escosses,
.cores-aviador,
.cores-malha-kit,
.cores-sap-kit,
.cores-rendada,
.cores-gata,
.cores-lhama,
.cores-chevron,
.cores-urso,
.cores-coracoes,
.cores-kitLhama,
.cores-kitChevron,
.cores-colorsFem,
.cores-colorsFem1,
.cores-colorsFem1-kit,
.cores-colorsFem-kit,
.cores-verde-amarela-malha,
.cores-flor,
.cores-listras,
.cores-elef,
.cores-malha-kitFem,
.cores-sap-kitFem {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

.verde,
.offwhite,
.cinza,
.branca,
.azul,
.marinho,
.marrom,
.azulTriangulo,
.vermelho,
.amarelo,
.azulTurquesa,
.cinzaMescla,
.kit1Des0a6,
.kit2Des0a6,
.kit1Des6a12,
.kit2Des6a12,
.brancaC,
.azulC,
.marinhoC,
.cinzaC,
.verdeC,
.brancaC2,
.azulC2,
.marinhoC2,
.cinzaC2,
.verdeC2,
.kit1Colors1,
.kit2Colors1,
.kit1Colors2,
.kit2Colors2,
.brancaM,
.azulM,
.verdeM,
.marinhoM,
.vermelhoM,
.brancaF,
.cinzaF,
.brancaE,
.marinhoE,
.marromA,
.azulA,
.malhaKit1,
.malhaKit2,
.sapKit1,
.sapKit2,
.dourada,
.rosa,
.rosaG,
.verdeG,
.rosaL,
.cinzaL,
.rosaCh,
.verdeCh,
.rosaU,
.lilasU,
.rosaCoracoes,
.marinhoCoracoes,
.kitLhama1,
.kitLhama2,
.kitChevron1,
.kitChevron2,
.brancaColors,
.verdeColors,
.rosaColors,
.pinkColors,
.lilasColors,
.brancaColors1,
.verdeColors1,
.rosaColors1,
.pinkColors1,
.lilasColors1,
.colorsKit1Fem1,
.colorsKit2Fem1,
.colorsKit1Fem,
.colorsKit2Fem,
.verdeMFem,
.rosaMFem,
.amareloMFem,
.lilasMFem,
.brancaMFem,
.florVerde,
.florRosa,
.listrasBranca,
.listrasRosa,
.elefRosa,
.elefVerde,
.malhaKit1Fem,
.malhaKit2Fem,
.sapKit1Fem,
.sapKit2Fem {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
}

.branca,
.brancaKit,
.brancaC,
.brancaC2,
.brancaM,
.brancaF,
.brancaE,
.brancaColors,
.brancaColors1,
.brancaMFem,
.listrasBranca {
    background-color: #ffffff;
    border: 1px solid #76767688;
}

.preta,
.pretaKit {
    background-color: #000000;

}

.cinza {
    background-color: #96A6B5;
}

.verde {
    background-color: #07D90A;
}

.offwhite {
    background-color: #9B9B82;
}

.azul {
    background-color: #8FC1EF;
}

.marinho,
.marinhoC,
.marinhoC2,
.marinhoM,
.marinhoE,
.marinhoCoracoes {
    background-color: #0F1922;
}

.marrom,
.marromA {
    background-color: #B9B29E;
}

.azulTriangulo {
    background-color: #0385DE;
}

.vermelho,
.vermelhoM {
    background-color: #D30411;
}

.amarelo {
    background-color: #F8D408;
}

.azulTurquesa {
    background: linear-gradient(to right, #01C1F6 50%, #AFCF88 50%);
}

.cinzaMescla {
    background: linear-gradient(to right, #ABB0AA 50%, #0389DB 50%);
}

.azulC,
.azulC2 {
    background-color: #76A6EF;
}

.cinzaC,
.cinzaC2,
.cinzaF,
.cinzaL {
    background-color: #7F9299;
}

.verdeC,
.verdeC2 {
    background-color: #81D49E;
}

.verdeM,
.verdeMFem {
    background-color: #69DABB;
}

.florVerde,
.elefVerde {
    background-color: #02CDA9;
}

.azulM {
    background-color: #9ED5F3;
}

.azulA {
    background-color: #068FE9;
}

.dourada {
    background-color: #F4F1D1;
}

.rosa,
.rosaMFem {
    background-color: #E86AAD;
}

.rosaG,
.rosaL,
.rosaColors,
.rosaColors1 {
    background-color: #E0A1C7;
}

.verdeG,
.verdeCh,
.verdeColors,
.verdeColors1 {
    background-color: #0D9D9D;
}

.rosaCh,
.rosaCoracoes,
.pinkColors,
.pinkColors1,
.florRosa {
    background-color: #DF2D8B;
}

.elefRosa {
    background-color: #FC5A90;
}

.rosaU {
    background-color: #D39EBD;
}

.lilasU {
    background-color: #ADC0D9;
}

.lilasColors,
.lilasColors1,
.lilasMFem {
    background-color: #919AD3;
}

.amareloMFem {
    background-color: #F2F2C4;
}

.listrasRosa {
    background-color: #FCE6ED;
}


.kit1Des0a6,
.kit2Des0a6,
.kit2Des6a12,
.kit1Des6a12,
.kit1Colors1,
.kit2Colors1,
.kit1Colors2,
.kit2Colors2,
.malhaKit1,
.malhaKit2,
.sapKit1,
.sapKit2,
.kitLhama2,
.kitLhama1,
.kitChevron1,
.kitChevron2,
.colorsKit1Fem1,
.colorsKit2Fem1,
.colorsKit1Fem,
.colorsKit2Fem,
.malhaKit1Fem,
.malhaKit2Fem,
.sapKit1Fem,
.sapKit2Fem {
    /* background: linear-gradient(to right, #07D90A 33%, #96A6B5 33%, #96A6B5 66%, #8FC1EF 66%) */
    background-color: #ffffff;
    border: 1px solid #76767688;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kit1Des0a6 p,
.kit2Des0a6 p,
.kit1Des6a12 p,
.kit2Des6a12,
.kit1Colors1 p,
.kit2Colors1 p,
.kit1Colors2 p,
.kit2Colors2 p,
.malhaKit1 p,
.malhaKit2 p,
.sapKit1 p,
.sapKit2 p,
.kitLhama1 p,
.kitLhama2 p,
.kitChevron1 p,
.kitChevron2 p,
.colorsKit1Fem1 p,
.colorsKit2Fem1 p,
.colorsKit1Fem p,
.colorsKit2Fem p,
.malhaKit1Fem p,
.malhaKit2Fem p,
.sapKit1Fem p,
.sapKit2Fem p {
    font: 400 16px 'WorkSans', sans-serif;
}


.parte2 {
    display: flex;
    justify-content: center;
    gap: 20vh;
    flex-wrap: wrap;
}

.Quadrado-da-meia-kit1-0a6,
.Quadrado-da-meia-kit1-6a12 {
    margin: 0 50px;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-elefante img,
.Quadrado-da-meia-quadrados img,
.Quadrado-da-meia-astronauta img,
.Quadrado-da-meia-triangulo img,
.Quadrado-da-meia-marinheiro img,
.Quadrado-da-meia-leao img,
.Quadrado-da-meia-colors1 img,
.Quadrado-da-meia-colors2 img,
.Quadrado-da-meia-malha img,
.Quadrado-da-meia-sap-faixa img,
.Quadrado-da-meia-escosses img,
.Quadrado-da-meia-aviador img,
.Quadrado-da-meia-rendada img,
.Quadrado-da-meia-gata img,
.Quadrado-da-meia-lhama img,
.Quadrado-da-meia-chevron img,
.Quadrado-da-meia-urso img,
.Quadrado-da-meia-coracoes img,
.Quadrado-da-meia-colorsFem img,
.Quadrado-da-meia-colorsFem1 img,
.Quadrado-da-meia-malhaFem img,
.Quadrado-da-meia-flor img,
.Quadrado-da-meia-listras img,
.Quadrado-da-meia-elef img {
    width: 220px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
}

.Quadrado-da-meia-kit1-0a6 img,
.Quadrado-da-meia-kit2-0a6 img,
.Quadrado-da-meia-kit1-6a12 img,
.Quadrado-da-meia-kit2-6a12 img,
.Quadrado-da-meia-malha-kit img,
.Quadrado-da-meia-sap-kit img,
.Quadrado-da-meia-kitLhama img,
.Quadrado-da-meia-kitChevron img {
    width: 320px;
    height: 150px;
    margin: 45px;
}

.Quadrado-da-meia-kitcolors1 img,
.Quadrado-da-meia-kitcolors2 img,
.Quadrado-da-meia-colorsFem1-kit img,
.Quadrado-da-meia-colorsFem-kit img,
.Quadrado-da-meia-malha-kitFem img,
.Quadrado-da-meia-sap-kitFem img {
    width: 320px;
    height: 150px;
    margin: 13px 0;
}





/* estilizando as informações */
.informacoes-meia {
    margin: 2vh 2vh 0 2vh;
}

.Subtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 20px;
    cursor: pointer;
}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}


.selected {
    border: 2px solid #000000;
    border-radius: 50%;
}












/* ---------------------------RODAPE ----------------------------------------------------------- */

/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* RODAPÉ */

#footer {
    background-color: #252160;
    color: white;
    margin-top: 120px;
    transition: background-color 0.5s ease;
}

#footer:hover {
    background-color: #1e1b55;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 100px 25px 100px;
    transition: padding 0.5s ease;
}

.imgLogo-rodape {
    width: 200px;
}

.linha1-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos-rodape,
.acompanhe-rodape {
    margin-top: 20px;
    transition: margin-top 0.5s ease;
}

.whats-rodape,
.email-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.whats-rodape a,
.email-rodape a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgContatos-rodape {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.imgContatos-rodape:hover {
    transform: translateY(-5px);
}

.titulo-rodape {
    font: 650 20px 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titulo-rodape:hover {
    color: #b4b4b4;
}

.texto-rodape {
    font: 400 18px 'WorkSans', sans-serif;
}

.texto2-rodape {
    font: 400 18px 'WorkSans', sans-serif;
    margin-top: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.texto2-rodape:hover {
    color: #b4b4b4;
    transform: scale(0.97);
}

.imgRedes-rodape {
    width: 30px;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.imgRedes-rodape:hover {
    transform: translateY(-5px);
}

.redes-rodape {
    text-align: center;
    margin-top: 10px;
}

.linha2-rodape {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categGeral-rodape {
    display: flex;
}

.subCategoria1-rodape {
    margin-right: 90px;
}

.textoInst-rodape {
    margin-top: 20px;
}

.categGeral-rodape {
    margin-top: 10px;
}

.categorias-rodape {
    margin-left: 213px;
}

.final-rodape {
    margin-top: 110px;
    text-align: center;
}

.textoFinal-rodape {
    font: 400 15px 'WorkSans', sans-serif;
}


/* VERSÃO MOBILE */

@media screen and (max-width: 768px) {

    /* CABEÇALHO */
    .cabecalhoUm {
        justify-content: space-between;
        margin: 5px 20px;
    }

    .imagemLogo img {
        width: 130px;
    }

    .imagemLogo {
        flex: none;
    }

    .cabecalho2 {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .submenu {
        display: none;
    }

    .menu-item.open .submenu {
        display: block;
    }

    .menu-item:hover .submenu {
        display: none;
    }

    #meiasBabyDesMasc {
        padding-top: 15vh;
        margin: 0 30px;
    }

    .modal-menu.show {
        right: 0;
    }




    /* FIM DO CABEÇALHO */







    .container-rodape {
        padding: 50px 50px;
    }

    .linha1-rodape,
    .linha2-rodape {
        display: block;
        text-align: center;
    }

    .contatos-rodape {
        margin-top: 40px;
    }

    .titulo-rodape {
        text-align: center;
        font-size: 18px;
    }

    .acompanhe-rodape,
    .institucional-rodape,
    .categorias-rodape {
        margin-top: 60px;
    }

    .categorias-rodape {
        margin-left: 0;
        text-align: center;
    }

    .final-rodape {
        margin-top: 60px;
    }

    .imgLogo-rodape {
        width: 150px;
    }

    .imgRedes-rodape {
        margin: 10px;
    }

    .subCategoria1-rodape {
        margin-right: 50px;
    }

    .categGeral-rodape {
        justify-content: center;
        align-items: center;
    }

    .whats-rodape,
    .email-rodape {
        justify-content: center;
        /* Centraliza o conteúdo */
    }

    .Quadrado-da-meia-elefante img,
    .Quadrado-da-meia-quadrados img,
    .Quadrado-da-meia-astronauta img,
    .Quadrado-da-meia-triangulo img,
    .Quadrado-da-meia-marinheiro img,
    .Quadrado-da-meia-leao img,
    .Quadrado-da-meia-colors1 img,
    .Quadrado-da-meia-colors2 img,
    .Quadrado-da-meia-kit1-0a6 img,
    .Quadrado-da-meia-kit2-0a6 img,
    .Quadrado-da-meia-kit1-6a12 img,
    .Quadrado-da-meia-kit2-6a12 img,
    .Quadrado-da-meia-kitcolors1 img,
    .Quadrado-da-meia-kitcolors2 img,
    .Quadrado-da-meia-malha-kit img,
    .Quadrado-da-meia-sap-kit img,
    #meiasBabyDesMasc .Quadrado-da-meia-malha img,
    #meiasBabyDesMasc .Quadrado-da-meia-sap-faixa img,
    #meiasBabyDesMasc .Quadrado-da-meia-escosses img,
    #meiasBabyDesMasc .Quadrado-da-meia-aviador img,
    #meiasBabyDesMasc .Quadrado-da-meia-rendada img,
    #meiasBabyDesMasc .Quadrado-da-meia-lhama img,
    #meiasBabyDesMasc .Quadrado-da-meia-gata img,
    #meiasBabyDesMasc .Quadrado-da-meia-chevron img,
    #meiasBabyDesMasc .Quadrado-da-meia-urso img,
    #meiasBabyDesMasc .Quadrado-da-meia-coracoes img,
    .Quadrado-da-meia-kitLhama img,
    .Quadrado-da-meia-kitChevron img,
    #meiasBabyDesMasc .Quadrado-da-meia-colorsFem img,
    #meiasBabyDesMasc .Quadrado-da-meia-colorsFem1 img,
    .Quadrado-da-meia-colorsFem1-kit img,
    .Quadrado-da-meia-colorsFem-kit img,
    #meiasBabyDesMasc .Quadrado-da-meia-malhaFem img,
    #meiasBabyDesMasc .Quadrado-da-meia-flor img,
    #meiasBabyDesMasc .Quadrado-da-meia-listras img,
    #meiasBabyDesMasc .Quadrado-da-meia-elef img,
    .Quadrado-da-meia-malha-kitFem img,
    .Quadrado-da-meia-sap-kitFem img {
        width: 220px;
        height: 180px;
    }

    #div-meia {
        align-items: center;
        width: 300px;
        margin-top: 10vh;

    }

    #containerkit img {
        width: 300px;
        height: 130px;
    }

    .titulo {
        margin-top: 35px;
    }
}