/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.imagemLogo {
    flex: 1;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
}

#header::after {
    content: "";
    display: block;
    height: 20px;
    background-color: #252160;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 0px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}

.cabecalho2 {
    display: flex;
    justify-content: center;
}

.menu-item {
    position: relative;
    padding-bottom: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    background-color: #fff;
    border: 1px solid #2F2F2F;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    box-sizing: border-box;
}

.submenuOrganizacao {
    margin: 10px 20px;
    text-align: left;
}

.submenu p {
    font: 600 16px 'WorkSans', sans-serif;

}

.submenu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font: 400 16px 'WorkSans', sans-serif;
    color: #000;
}

.submenuItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

}

.menu-item:hover .submenu {
    display: block;
    text-align: center;
}

.item {
    padding: 10px 10px 8px 10px;
}

.item:hover {
    border-bottom: 1px solid #fff;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.modal-menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Posiciona o menu fora da tela à direita */
    width: 100%;
    height: 100%;
    background-color: #252160;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: right 0.5s ease;
    /* Controla o tempo da animação */
    overflow-y: scroll;
}

.modal-menu .imagemLogo {
    margin: 80px 0 30px 0;
}

.modal-menu .imagemLogo img {
    width: 120px;/
}

.modal-menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 10%;
}

.menu-itemModal {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.itemModal {
    color: white;
    font: 600 20px 'WorkSans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.itemModal:hover {
    color: #c2c2c2;
}

.submenuModal {
    display: none;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.submenuModal a {
    color: rgb(0, 0, 0);
    font: 400 16px 'WorkSans', sans-serif;
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

.submenuModal a:hover {
    color: #5b5b5b;
}

.close-modal {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 101;
}


@media (max-width: 768px) {
    .container {
        margin: 50px;
    }

    /* CABEÇALHO */
    .cabecalhoUm {
        justify-content: space-between;
        margin: 5px 20px;
    }

    .imagemLogo img {
        width: 130px;
    }

    .imagemLogo {
        flex: none;
    }

    .cabecalho2 {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .submenu {
        display: none;
    }

    .menu-item.open .submenu {
        display: block;
    }

    .menu-item:hover .submenu {
        display: none;
    }

    #meiasBabyDesMasc {
        padding-top: 15vh;
        margin: 0 30px;
    }

    .modal-menu.show {
        right: 0;
    }

    /* FIM DO CABEÇALHO */

    /* KIT */
    .Quadrado-da-meia-esportiva-kit01 img,
    .Quadrado-da-meia-esportiva-kit02 img,
    .Quadrado-da-meia-esportiva-cano-curto-kit img {
        width: 210px;
        height: 100px;
        margin: 5px 0px;
    }

    #div-meia {
        align-items: center;
        width: 280px;
        margin-top: 10vh;
        border: 1px solid #A5A5A5;
        border-radius: 20px;
    }

    .Quadrado-da-meia-CanoCurto-LisaKit04 img,
    .Quadrado-da-meia-CanoCurto-LisaKit03 img,
    .Quadrado-da-meia-CanoCurto-Desenhada-Kit02 img,
    .Quadrado-da-meia-CanoCurto-Desenhada-Kit01 img {
        width: 280px;
        height: 140px;
        margin-top: 4vh;
    }
}


/* FIM DO CABEÇALHO */






/* COMEÇO DAS MEIAS CANO CURTO */
.titulo {
    font-family: "LibreFranklin";

    margin-left: 5vh;
}

#meiasCanoCurto {
    padding-top: 20vh;
}

/* FAZENDO ELA FICAR EM HORIZONTAL COM ESPAÇO */

.todas-as-meias-feminina-cano-curto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;

}




#div-meia-cano-curto {
    align-items: center;
    width: 390px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */
.cores-branca-preto-cinza,
.cores-rosa-verde,
.cores-verdeEscuro-verdeClaro-cinza,
.cores-roxo-pretaRosa {
    cursor: pointer;
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

/* .selected {
    border: 2px solid #000000;
    border-radius: 50%;
} */

.tresCoresKit,
.branca,
.preta,
.cinza,
.verdeAgua,
.verdeClaro,
.verdeMusgo,
.roxo,
.CinzaBranca,
.pretaRosa,
.rosa,
.pretaKit,
.brancaKit,
.cinzaKit {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}


.tresCoresKit {
    background: linear-gradient(to right,
            #FFFFFF 0%, #FFFFFF 33.33%,
            /* Primeiro terço em branco */
            #000000 33.33%, #000000 66.66%,
            /* Segundo terço em preto */
            #808080 66.66%, #808080 100%
            /* Terceiro terço em cinza */
        )
}

.tresCoresKit {
    border: 1px solid rgb(87, 83, 83);
}


.branca,
.brancaKit {
    border: 1px solid rgb(91, 87, 87);
}

.preta,
.pretaKit {
    background-color: #000000;

}

.cinza,
.cinzaKit,
.CinzaBranca {
    background-color: #A5A5A5;
}

.verdeAgua {
    background-color: #00BDB5;
}

.rosa {
    background-color: #DA6A9E;
}

.verdeMusgo {
    background-color: #7BC194;
}

.verdeClaro {
    background-color: #54C999;

}

.pretaRosa {
    background: linear-gradient(to right, #000000 50%, #DA598F 50%);
}

.roxo {
    background-color: #5034A9;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-preta-cano-curto img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-verde-cano-curto img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-BrancaRosa-cano-curto img,
/* imagem da meia, rosa cano curto */
.Quadrado-da-meia-pretaRosa-cano-curto img {
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}

.tudoKit {
    margin-top: 4vh;
}

.container {
    display: flex;
    justify-content: center;
}

#containerkit img {
    margin-top: 2vh;
    width: 370px;
    height: 150px;
}




/* estilizando as informações */
.informacoes-meia-cano-curto-feminino {
    margin-left: 2vh;
    margin-top: 2vh;
}

.CanoCurtoSubtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 20px;
    cursor: pointer;
}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}












/* ---------------------------RODAPE ----------------------------------------------------------- */

/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* RODAPÉ */

#footer {
    background-color: #252160;
    color: white;
    margin-top: 120px;
    transition: background-color 0.5s ease;
}

#footer:hover {
    background-color: #1e1b55;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 100px 25px 100px;
    transition: padding 0.5s ease;
}

.imgLogo-rodape {
    width: 200px;
}

.linha1-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos-rodape,
.acompanhe-rodape {
    margin-top: 20px;
    transition: margin-top 0.5s ease;
}

.whats-rodape,
.email-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.whats-rodape a,
.email-rodape a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgContatos-rodape {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.imgContatos-rodape:hover {
    transform: translateY(-5px);
}

.titulo-rodape {
    font: 650 20px 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titulo-rodape:hover {
    color: #b4b4b4;
}

.texto-rodape {
    font: 400 18px 'WorkSans', sans-serif;
}

.texto2-rodape {
    font: 400 18px 'WorkSans', sans-serif;
    margin-top: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.texto2-rodape:hover {
    color: #b4b4b4;
    transform: scale(0.97);
}

.imgRedes-rodape {
    width: 30px;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.imgRedes-rodape:hover {
    transform: translateY(-5px);
}

.redes-rodape {
    text-align: center;
    margin-top: 10px;
}

.linha2-rodape {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.categGeral-rodape {
    display: flex;
}

.subCategoria1-rodape {
    margin-right: 90px;
}

.textoInst-rodape {
    margin-top: 20px;
}

.categGeral-rodape {
    margin-top: 10px;
}

.categorias-rodape,
.institucional-rodape {
    margin: 20px 10px 0 10px;
}

.final-rodape {
    margin-top: 110px;
    text-align: center;
}

.textoFinal-rodape {
    font: 400 15px 'WorkSans', sans-serif;
}

/* VERSÃO MOBILE */

@media screen and (max-width: 500px) {





    .container-rodape {
        padding: 50px 50px;
    }

    .linha1-rodape,
    .linha2-rodape {
        display: block;
        text-align: center;
    }

    .contatos-rodape {
        margin-top: 40px;
    }

    .titulo-rodape {
        text-align: center;
        font-size: 3vh;
    }

    .texto-rodape {
        font-size: 2.8vh;
    }

    .texto2-rodape {
        font-size: 2.8vh;
    }

    .textoFinal-rodape {
        font-size: 2.6vh;
    }

    .imgContatos-rodape {
        width: 23px;
    }

    .acompanhe-rodape,
    .institucional-rodape,
    .categorias-rodape {
        margin-top: 60px;
    }

    .categorias-rodape {
        margin-left: 0;
        text-align: center;
    }

    .final-rodape {
        margin-top: 60px;
    }

    .imgLogo-rodape {
        width: 150px;
    }

    .imgRedes-rodape {
        margin: 10px;
    }

    .subCategoria1-rodape {
        margin-right: 50px;
    }

    .categGeral-rodape {
        justify-content: center;
        align-items: center;
    }

    .whats-rodape,
    .email-rodape {
        justify-content: center;
        /* Centraliza o conteúdo */
    }
}




/* MEIA FEMININA CASUAL */




.Quadrado-da-meia-Casual-Listrada-PretaRosa img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-Casual-DesenhadaCoracao-Branca img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-Casual-Branca-Rendada img {
    /* imagem da meia, rosa cano curto */
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}


/* CORES */

.cores-Branca-Rendada,
.cores-desenhada-Coracao-cinza,
.cores-meia-casual-listradas {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
    cursor: pointer;
}

.ListradaPretaRosa img,
.ListradaVerde img,
.DesenhoBrancoCoracao img,
.DesenhoCinzaCoracao img,
.BrancaRendada,
.RosaClaroCasual {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}





.BrancaRendada {
    background-color: white;
    border: 1px solid rgb(163, 160, 160);
}

.RosaClaroCasual {
    background-color: #D6D3DC;
}

#container img {
    width: 45vh;
}


/* MEIA CANO LONGO CASUAL */

.Quadrado-da-meia-abelha-cano-longo img,
.Quadrado-da-meia-cacto-cano-longo img,
.Quadrado-da-meia-caveira-cano-longo img,
.Quadrado-da-meia-melancia-cano-longo img,
.Quadrado-da-meia-vaquinha-cano-longo img,
.Quadrado-da-meia-arcoIris-cano-longo img {
    width: 250px;
    height: 200px;
}



.cor-da-meia-caveira,
.cor-da-meia-abelha,
.cor-da-meia-arcoIris,
.cor-da-meia-cacto,
.cor-da-meia-vaquinha,
.cor-da-meia-melancia {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
    cursor: pointer;
}



.ArcoIris img,
.caveira img,
.melancia img,
.abelha img,
.cacto img,
.vaquinha img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.selected {
    border: 2px solid #000000;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
}

.selected img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* PARTE MEIAS PRO FEMININA */

/* CORES */
.cor-da-meia-PretaVerdeLimao div,
.cor-da-meia-RoxaPreta div,
.cor-da-meia-Pretabranca div,
.cor-da-meia-VerdeMusgo div,
.cor-da-meia-PretaRosa div,
.cor-da-meia-BrancaAzulEscuro div {

    margin-top: 0.75vh;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}


.PretaVerdeLimao {
    background-color: #A7E520;

}

.VerdeMusgo {
    background-color: #52703C;
}

.BrancaAzulEscuro {
    background-color: #262473;
}

.PretaRosa {
    background-color: #F26BB5;
}

.RoxaPreta {
    background-color: #BF36A8;
}

.PretaBranca {
    background-color: white;
    border: 1px solid rgb(95, 92, 92);
}

.container img {
    width: 240px;
    height: 198px;
}

/* MOBILE */


@media screen and (max-width: 768px) {

    .Quadrado-da-meia-preta-cano-curto img,
    .Quadrado-da-meia-verde-cano-curto img,
    .Quadrado-da-meia-BrancaRosa-cano-curto img,
    .Quadrado-da-meia-pretaRosa-cano-curto img {
        width: 150px;
        height: 130px;

    }

  

    .container img {
        width: 300px;
        height: 150px;
    }

    #div-meia-cano-curto {
        align-items: center;
        width: 290px;
        margin-top: 10vh;

    }

    .titulo {
        margin-top: 5vh;
        font-size: 3.45vh;
    }

    .botao-euQuero {
        width: 200px;
        height: 35px;
    }

    #containerkit img {

        width: 230px;
        height: 100px;
    }
}