/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.linha {
    background-color: #fff;
    height: 0.4px;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 10px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}

/* FIM DO CABEÇALHO */



/* COMEÇO DAS MEIAS CANO CURTO */
.titulo {
    font-family: "LibreFranklin";

    margin-left: 5vh;
}

#meiasCanoCurto {
    padding-top: 20vh;
}

/* FAZENDO ELA FICAR EM HORIZONTAL COM ESPAÇO */

.todas-as-meias-feminina-cano-curto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;

}




#div-meia-cano-curto {
    align-items: center;
    width: 390px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */
.cores-branca-preto-cinza,
.cores-rosa-verde,
.cores-verdeEscuro-verdeClaro-cinza,
.cores-roxo-pretaRosa {
    cursor: pointer;
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

.selected {
    border: 2px solid #000000;
    border-radius: 50%;
}

.tresCoresKit,
.branca,
.preta,
.cinza,
.verdeAgua,
.verdeClaro,
.verdeMusgo,
.roxo,
.CinzaBranca,
.pretaRosa,
.rosa,
.pretaKit,
.brancaKit,
.cinzaKit {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}


.tresCoresKit {
    background: linear-gradient(to right,
            #FFFFFF 0%, #FFFFFF 33.33%,
            /* Primeiro terço em branco */
            #000000 33.33%, #000000 66.66%,
            /* Segundo terço em preto */
            #808080 66.66%, #808080 100%
            /* Terceiro terço em cinza */
        )
}

.tresCoresKit {
    border: 1px solid rgb(87, 83, 83);
}


.branca,
.brancaKit {
    border: 1px solid rgb(91, 87, 87);
}

.preta,
.pretaKit {
    background-color: #000000;

}

.cinza,
.cinzaKit,
.CinzaBranca {
    background-color: #A5A5A5;
}

.verdeAgua {
    background-color: #00BDB5;
}

.rosa {
    background-color: #DA6A9E;
}

.verdeMusgo {
    background-color: #7BC194;
}

.verdeClaro {
    background-color: #54C999;

}

.pretaRosa {
    background: linear-gradient(to right, #000000 50%, #DA598F 50%);
}

.roxo {
    background-color: #5034A9;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-preta-cano-curto img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-verde-cano-curto img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-BrancaRosa-cano-curto img,
/* imagem da meia, rosa cano curto */
.Quadrado-da-meia-pretaRosa-cano-curto img {
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
}

.Quadrado-do-kit-cinza-cano-curto img {
    margin-top: 2vh;
    width: 370px;
    height: 170px;
}




/* estilizando as informações */
.informacoes-meia-cano-curto-feminino {
    margin-left: 2vh;
    margin-top: 2vh;
}

.CanoCurtoSubtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 20px;
    cursor: pointer;
}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}












/* ---------------------------RODAPE ----------------------------------------------------------- */

/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* RODAPÉ */

#footer {
    background-color: #252160;
    color: white;
    margin-top: 120px;
    transition: background-color 0.5s ease;
}

#footer:hover {
    background-color: #1e1b55;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 100px 25px 100px;
    transition: padding 0.5s ease;
}

.imgLogo-rodape {
    width: 200px;
}

.linha1-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos-rodape,
.acompanhe-rodape {
    margin-top: 20px;
    transition: margin-top 0.5s ease;
}

.whats-rodape,
.email-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.whats-rodape a,
.email-rodape a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgContatos-rodape {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.imgContatos-rodape:hover {
    transform: translateY(-5px);
}

.titulo-rodape {
    font: 650 20px 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titulo-rodape:hover {
    color: #b4b4b4;
}

.texto-rodape {
    font: 400 18px 'WorkSans', sans-serif;
}

.texto2-rodape {
    font: 400 18px 'WorkSans', sans-serif;
    margin-top: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.texto2-rodape:hover {
    color: #b4b4b4;
    transform: scale(0.97);
}

.imgRedes-rodape {
    width: 30px;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.imgRedes-rodape:hover {
    transform: translateY(-5px);
}

.redes-rodape {
    text-align: center;
    margin-top: 10px;
}

.linha2-rodape {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categGeral-rodape {
    display: flex;
}

.subCategoria1-rodape {
    margin-right: 90px;
}

.textoInst-rodape {
    margin-top: 20px;
}

.categGeral-rodape {
    margin-top: 10px;
}

.categorias-rodape {
    margin-left: 213px;
}

.final-rodape {
    margin-top: 110px;
    text-align: center;
}

.textoFinal-rodape {
    font: 400 15px 'WorkSans', sans-serif;
}

/* VERSÃO MOBILE */

@media screen and (max-width: 500px) {





    .container-rodape {
        padding: 50px 50px;
    }

    .linha1-rodape,
    .linha2-rodape {
        display: block;
        text-align: center;
    }

    .contatos-rodape {
        margin-top: 40px;
    }

    .titulo-rodape {
        text-align: center;
        font-size: 18px;
    }

    .acompanhe-rodape,
    .institucional-rodape,
    .categorias-rodape {
        margin-top: 60px;
    }

    .categorias-rodape {
        margin-left: 0;
        text-align: center;
    }

    .final-rodape {
        margin-top: 60px;
    }

    .imgLogo-rodape {
        width: 150px;
    }

    .imgRedes-rodape {
        margin: 10px;
    }

    .subCategoria1-rodape {
        margin-right: 50px;
    }

    .categGeral-rodape {
        justify-content: center;
        align-items: center;
    }

    .whats-rodape,
    .email-rodape {
        justify-content: center;
        /* Centraliza o conteúdo */
    }
}




/* MEIA FEMININA CASUAL */




.Quadrado-da-meia-Casual-Listrada-PretaRosa img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-Casual-DesenhadaCoracao-Branca img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-Casual-Branca-Rendada img {
    /* imagem da meia, rosa cano curto */
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}


/* CORES */

.cores-Branca-Rendada,
.cores-desenhada-Coracao-cinza,
.cores-meia-casual-listradas {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
    cursor: pointer;
}

.ListradaPretaRosa img,
.ListradaVerde img,
.DesenhoBrancoCoracao img,
.DesenhoCinzaCoracao img,
.BrancaRendada,
.RosaClaroCasual {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.BrancaRendada {
    background-color: white;
    border: 1px solid rgb(163, 160, 160);
}

.RosaClaroCasual {
    background-color: #D6D3DC;
}

#container img {
    width: 45vh;
}


/* MEIA CANO LONGO CASUAL */

.Quadrado-da-meia-abelha-cano-longo img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-cacto-cano-longo img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-caveira-cano-longo img,
/* imagem da meia, rosa cano curto */
.Quadrado-da-meia-melancia-cano-longo img,
.Quadrado-da-meia-vaquinha-cano-longo img,
.Quadrado-da-meia-arcoIris-cano-longo img {
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}

.cor-da-meia-caveira,
.cor-da-meia-abelha,
.cor-da-meia-ArcoIris,
.cor-da-meia-cacto ,
.cor-da-meia-vaquinha,
.cor-da-meia-melancia{
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
    cursor: pointer;
}

.ArcoIris img,
.caveira img,
.melancia img,
.abelha img,
.cacto img,
.vaquinha img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}