/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  .cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 5px;
  }
  
  .procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;
  
  }
  
  .imagemLogo img {
    width: 150px;
  }
  
  .linha {
    background-color: #fff;
    height: 0.4px;
  }
  
  .cabecalho2 {
    text-align: center;
    padding: 15px 0 0px 0;
  }
  
  .item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
  }
  
  .cabecalho2 {
    display: flex;
    justify-content: center;
  }
  
  .menu-item {
    position: relative;
    padding-bottom: 10px;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona logo abaixo do item do menu */
    left: 50%; /* Centraliza horizontalmente em relação ao item do menu */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    width: 50vw; /* Largura fixa para o submenu */
    background-color: #fff;
    border: 1px solid #2F2F2F;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
  }
  
  .submenuOrganizacao {
    margin: 10px 80px;
    text-align: left;
  }
  
  .submenu p {
    font: 600 16px 'WorkSans', sans-serif;
  
  }
  
  .submenu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font: 400 16px 'WorkSans', sans-serif;
    color: #000;
  }
  
  .submenuItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  
  }
  
  .menu-item:hover .submenu {
    display: block;
    text-align: center;
  }
  
  .item {
    padding: 10px 10px 8px 10px;
  }
  
  .item:hover {
    border-bottom: 1px solid #fff;
  }
  
  
  /* FIM DO CABEÇALHO */



/* COMEÇO DAS MEIAS CANO CURTO */
.titulo {
    font-family: "LibreFranklin";

    margin-left: 5vh;
}

#meiasDesMasc {
    padding-top: 20vh;
}

/* FAZENDO ELA FICAR EM HORIZONTAL COM ESPAÇO */

.todas-as-meias-des-masc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#div-meia {
    align-items: center;
    width: 390px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */
.cores-branca-preta-cinza,
.cores-branca-preta-cinza02,
.cores-branca-preta-cinza03,
.cores-branca-preta-cinza04,
.cores-branca-preta-cinza05,
.cores-branca-preta-cinza06,
.cores-branca-preta-cinza07,
.cores-branca-preta-cinza08,
.cores-branca-preta-cinza09,
.cores-laranja-pro,
.cores-branca-pro,
.cores-vermelha-pro,
.cores-amarela-pro,
.cores-azul-pro,
.cores-verde-pro {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

.pretaLisa,
.pretaHorse,
.pretaS,
.pretaPolo,
.pretaAero,
.pretaKit01,
.pretaKit02,
.pretaCurto,
.pretaCurtoKit,
.cinzaLisa,
.cinzaHorse, 
.cinzaS,
.cinzaPolo,
.cinzaAero,
.cinzaKit01,
.cinzaKit02,
.cinzaCurto,
.cinzaCurtoKit,
.brancaLisa,
.brancaHorse,
.brancaS,
.brancaPolo,
.brancaAero,
.brancaKit01,
.brancaKit02,
.brancaCurto,
.brancaCurtoKit,
.kitTresCores,
.laranjaPro,
.brancaPro,
.vermelhaPro,
.amarelaPro,
.azulPro,
.verdePro {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
}

.brancaLisa,
.brancaHorse,
.brancaS,
.brancaAero,
.brancaPolo,
.brancaKit01,
.brancaKit02,
.brancaCurto,
.brancaCurtoKit,
.brancaKit,
.brancaPro {
    background-color: #ffffff;
    border: 1px solid #76767688;
}

.pretaLisa,
.pretaHorse,
.pretaS,
.pretaAero,
.pretaPolo,
.pretaKit01,
.pretaKit02,
.pretaCurtoKit,
.pretaCurto,
.pretaKit {
    background-color: #000000;
}

.cinzaLisa, 
.cinzaHorse, 
.cinzaS,
.cinzaAero,
.cinzaKit01,
.cinzaKit02,
.cinzaCurto,
.cinzaCurtoKit,
.cinzaPolo,
.azulPro,
.verdePro {
    background-color: #96A6B5;
}

.laranjaPro {
    background-color: #D47B2F;
}

.vermelhaPro {
    background-color: #B8312A;
}

.amarelaPro {
    background-color: #D4BE1B;
}

.azulPro {
    background-color: #269AD3;
}

.verdePro {
    background-color: #B9E24A;
}

.kitTresCores {
    background-color: #ffffff;
    border: 1px solid #76767688;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kitTresCores p {
    font: 400 16px 'WorkSans', sans-serif;
}

.parte2{
    display: flex;
    justify-content: center;
    gap: 20vh;
    flex-wrap: wrap;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-esportiva-lisa img,
.Quadrado-da-meia-esportiva-horse img,
.Quadrado-da-meia-esportiva-s img,
.Quadrado-da-meia-esportiva-polo img,
.Quadrado-da-meia-esportiva-aero img,
.Quadrado-da-meia-esportiva-cano-curto img,
.Quadrado-da-meia-quadriculada-laranja img,
.Quadrado-da-meia-quadriculada-branca img,
.Quadrado-da-meia-faixa-vermelha img,
.Quadrado-da-meia-faixa-amarela img,
.Quadrado-da-meia-degrade-azul img,
.Quadrado-da-meia-degrade-verde img {
    width: 220px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
}

.Quadrado-da-meia-esportiva-kit01 img,
.Quadrado-da-meia-esportiva-kit02 img,
.Quadrado-da-meia-esportiva-cano-curto-kit img {
    width: 320px;
    height: 150px;
    margin: 25px 30px;
}


/* estilizando as informações */
.informacoes-meia {
    margin: 2vh 2vh 0 2vh;
}

.Subtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 20px;
    cursor: pointer;
}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}


.selected {
    border: 2px solid #000000 ;
    border-radius: 50%; 
}



/* ---------------------------RODAPE ----------------------------------------------------------- */

/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* RODAPÉ */

#footer {
    background-color: #252160;
    color: white;
    margin-top: 120px;
    transition: background-color 0.5s ease;
}

#footer:hover {
    background-color: #1e1b55;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 100px 25px 100px;
    transition: padding 0.5s ease;
}

.imgLogo-rodape {
    width: 200px;
}

.linha1-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos-rodape,
.acompanhe-rodape {
    margin-top: 20px;
    transition: margin-top 0.5s ease;
}

.whats-rodape,
.email-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.whats-rodape a,
.email-rodape a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgContatos-rodape {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.imgContatos-rodape:hover {
    transform: translateY(-5px);
}

.titulo-rodape {
    font: 650 20px 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titulo-rodape:hover {
    color: #b4b4b4;
}

.texto-rodape {
    font: 400 18px 'WorkSans', sans-serif;
}

.texto2-rodape {
    font: 400 18px 'WorkSans', sans-serif;
    margin-top: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.texto2-rodape:hover {
    color: #b4b4b4;
    transform: scale(0.97);
}

.imgRedes-rodape {
    width: 30px;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.imgRedes-rodape:hover {
    transform: translateY(-5px);
}

.redes-rodape {
    text-align: center;
    margin-top: 10px;
}

.linha2-rodape {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categGeral-rodape {
    display: flex;
}

.subCategoria1-rodape {
    margin-right: 90px;
}

.textoInst-rodape {
    margin-top: 20px;
}

.categGeral-rodape {
    margin-top: 10px;
}

.categorias-rodape {
    margin-left: 213px;
}

.final-rodape {
    margin-top: 110px;
    text-align: center;
}

.textoFinal-rodape {
    font: 400 15px 'WorkSans', sans-serif;
}

/* VERSÃO MOBILE */

@media screen and (max-width: 500px) {
    .container-rodape {
        padding: 50px 50px;
    }

    .linha1-rodape,
    .linha2-rodape {
        display: block;
        text-align: center;
    }

    .contatos-rodape {
        margin-top: 40px;
    }

    .titulo-rodape {
        text-align: center;
        font-size: 18px;
    }

    .acompanhe-rodape,
    .institucional-rodape,
    .categorias-rodape {
        margin-top: 60px;
    }

    .categorias-rodape {
        margin-left: 0;
        text-align: center;
    }

    .final-rodape {
        margin-top: 60px;
    }

    .imgLogo-rodape {
        width: 150px;
    }

    .imgRedes-rodape {
        margin: 10px;
    }

    .subCategoria1-rodape {
        margin-right: 50px;
    }

    .categGeral-rodape {
        justify-content: center;
        align-items: center;
    }

    .whats-rodape,
    .email-rodape {
        justify-content: center;
        /* Centraliza o conteúdo */
    }
}


