/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.linha {
    background-color: #fff;
    height: 0.4px;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 10px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}

/* FIM DO CABEÇALHO */



/* COMEÇO DAS MEIAS KIDS FEMINO */
.titulo {
    font-family: "LibreFranklin";

    margin-left: 5vh;
}

.subtitulo {
    font-family: 'WorkSans';
    font-weight: 300;
    margin-left: 7vh;
    margin-top: 1vh;
}

.subtitulo-m {
    font-family: 'WorkSans';
    font-weight: 300;
    margin-left: 7vh;
    margin-top: 10vh;
}

#meiasKidsFemino {
    padding-top: 20vh;
}

/* FAZENDO ELA FICAR EM HORIZONTAL COM ESPAÇO */

.todas-as-meias-feminina-kids {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#div-meia-kids-femino {
    align-items: center;
    width: 390px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */

.cores-begeM-cinzaM,
.cores-verdeM-vermelhoM,
.cores-marinhoM-cinzaM1,
.cores-brancoM-vermelhaM1,
.cores-azulM-cinzaM2,
.cores-turquesaM-royalM,
.cores-cinzaM3-marinhoM2,
.cores-marinhoM1-azulM1,
.cores-cinzaM4-marinhoM3,
.cores-kit-feminino {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

.begeM,
.cinzaM,
.verdeM,
.vermelhoM,
.marinhoM,
.cinzaM1,
.cinzaM4,
.marinhoM3,
.azulM,
.cinzaM2,
.cinzaM3,
.marinhoM2,
.brancoM,
.turquesaM,
.royalM,
.vermelhoM1,
.marinhoM1,
.azulM1,
.kitPmeiasM1,
.kitPmeiasM2,
.kitMmeiasM2,
.kitMmeiasM1,
.kitGmeiasM1,
.kitGmeiasM2 {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    border: 2px solid #000000;
}


.verdeM {
    background-color: #98BF6B;
}

.vermelhoM {
    background-color: #913B4B;
}

.vermelhoM1 {
    background-color: #A44049;
}

.cinzaM,
.cinzaM2,
.cinzaM3,
.cinzaM4 {
    background-color: #747880;
}

.cinzaM1 {
    background-color: #ABACB0;
}

.azulM {
    background-color: #C0D1E3;
}

.azulM1 {
    background-color: #6189AD;
}

.begeM {
    background-color: #B0A39B;
}

.marinhoM {
    background-color: #30395B;
}

.marinhoM1,
.marinhoM2,
.marinhoM3 {
    background-color: #070b12;
}

.brancoM {
    background-color: #fff;
    border: 1px solid #76767688;
}

.turquesaM {
    background-color: #4F8EB6;
}

.royalM {
    background-color: #2C4061;
}


.Quadrado-da-meia-raposa img,
.Quadrado-da-meia-robo img,
.Quadrado-da-meia-polvo img,
.Quadrado-da-meia-pirata img,
.Quadrado-da-meia-tubarao img,
.Quadrado-da-meia-tigre img,
.Quadrado-da-meia-tem22 img,
.Quadrado-da-meia-winner img,
.Quadrado-da-meia-bike img {
    width: 200px;
    height: 200px;
}

.kit-numero-um img,
.kit-numero-dois img,
.kitM-masculino-um,
.kitM-masculino-dois img,
.KitG-meias img,
.kitGmeias img,
.KitM-meias img,
.KitP-meias img {
    width: 320px;
    height: 150px;
    margin: 45px 30px;
}

.kitGmeiasM1,
.kitGmeiasM2,
.kitMmeiasM1,
.kitMmeiasM2,
.kitPmeiasM1,
.kitPmeiasM2 {
    background-color: #ffffff;
    border: 1px solid #76767688;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}







/* estilizando as informações */
.informacoes-meia-kids-femino {
    margin-left: 2vh;
    margin-top: 2vh;
}

.KidsFeminoSubtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 20px;
    cursor: pointer;

}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}












/* ---------------------------RODAPE ----------------------------------------------------------- */

/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* RODAPÉ */

#footer {
    background-color: #252160;
    color: white;
    margin-top: 120px;
    transition: background-color 0.5s ease;
}

#footer:hover {
    background-color: #1e1b55;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 100px 25px 100px;
    transition: padding 0.5s ease;
}

.imgLogo-rodape {
    width: 200px;
}

.linha1-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos-rodape,
.acompanhe-rodape {
    margin-top: 20px;
    transition: margin-top 0.5s ease;
}

.whats-rodape,
.email-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.whats-rodape a,
.email-rodape a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgContatos-rodape {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.imgContatos-rodape:hover {
    transform: translateY(-5px);
}

.titulo-rodape {
    font: 650 20px 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titulo-rodape:hover {
    color: #b4b4b4;
}

.texto-rodape {
    font: 400 18px 'WorkSans', sans-serif;
}

.texto2-rodape {
    font: 400 18px 'WorkSans', sans-serif;
    margin-top: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.texto2-rodape:hover {
    color: #b4b4b4;
    transform: scale(0.97);
}

.imgRedes-rodape {
    width: 30px;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.imgRedes-rodape:hover {
    transform: translateY(-5px);
}

.redes-rodape {
    text-align: center;
    margin-top: 10px;
}

.linha2-rodape {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categGeral-rodape {
    display: flex;
}

.subCategoria1-rodape {
    margin-right: 90px;
}

.textoInst-rodape {
    margin-top: 20px;
}

.categGeral-rodape {
    margin-top: 10px;
}

.categorias-rodape {
    margin-left: 213px;
}

.final-rodape {
    margin-top: 110px;
    text-align: center;
}

.textoFinal-rodape {
    font: 400 15px 'WorkSans', sans-serif;
}

/* VERSÃO MOBILE */

@media screen and (max-width: 768px) {
    .container-rodape {
        padding: 50px 50px;
    }

    .linha1-rodape,
    .linha2-rodape {
        display: block;
        text-align: center;
    }

    .contatos-rodape {
        margin-top: 40px;
    }

    .titulo-rodape {
        text-align: center;
        font-size: 18px;
    }

    .acompanhe-rodape,
    .institucional-rodape,
    .categorias-rodape {
        margin-top: 60px;
    }

    .categorias-rodape {
        margin-left: 0;
        text-align: center;
    }

    .final-rodape {
        margin-top: 60px;
    }

    .imgLogo-rodape {
        width: 150px;
    }

    .imgRedes-rodape {
        margin: 10px;
    }

    .subCategoria1-rodape {
        margin-right: 50px;
    }

    .categGeral-rodape {
        justify-content: center;
        align-items: center;
    }

    .whats-rodape,
    .email-rodape {
        justify-content: center;
        /* Centraliza o conteúdo */
    }
}