/* RESET */
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.linha {
    background-color: #fff;
    height: 0.4px;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 10px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}

/* FIM DO CABEÇALHO */
.seja-revendedor {
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 1200px;
    padding-top: 200px;
}

.seja-revendedor-img {
    width: 50%;
    max-width: 600px;
    margin-left: 30vh;
}

.revendedor {
    margin-left: 30px;
}

.revendedor h1 {
    font-family: 'LibreFranklin', sans-serif;
    font-size: 48px;
    margin-left: 30vh;

}

.revendedor-h1 {
    color: #000;
    text-align: center;
}
.revendedor-h2{
    color: #000;
    font-weight: 100;
   text-align: center;
}

.formulario {
    font-family: 'WorkSans', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    text-align: left; /* Ajuste de alinhamento para o texto */
    padding-left: 30vh; /* Espaçamento interno à esquerda */
    line-height: 1.5; /* Espaçamento entre linhas */
}


.btn-cadastro {
    padding: 15px 30px;
    background-color: #589EA8;
    color: #ffff;
    font: 600 18px 'WorkSans', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 38vh;
  margin-top: 4vh;

}

.btn-cadastro:hover {
    background-color: #087B8B;
}

/*VANTAGENS */
.vantagens-h1{
    text-align: center;
    font-family: 'LibreFranklin';
    margin: 100px;
    font-size: 35px;
}

/* Estilos para a caixa de informação */
.info-box {
    display: none; /* Ocultar inicialmente */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 100; /* Garantir que fique acima de outros elementos */
    width: 400px;
    text-align: center;
}

/* Estilo adicional para o fundo quando a caixa de texto estiver ativa */
.info-box.active {
    display: block;
}

/* Ajuste das imagens específicas de mais-vantagens */
.mais-vantagens-icon {
    
    cursor: pointer; /* Mostrar que é clicável */
    position: absolute;
    top: 10px; 
    right: 10px;
    width: 20px; 
    height: auto; 
}

/* Estilos adicionais para as seções de vantagens */
.vantagens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

/* Estilo para cada card de vantagem */
.maior-rentabilidade,
.variedade,
.menor-custo {
    border: 1px solid #000000;
    padding: 20px;
    width: 15%;
    height: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

/* Efeito ao passar o mouse sobre os cards */
.maior-rentabilidade:hover,
.variedade:hover,
.menor-custo:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
