/* RESET */
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* FONTES */

@font-face {
  font-family: 'LibreFranklin';
  src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'WorkSans';
  src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
  background-color: #252160;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.cabecalhoUm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
  padding: 5px;
}

.procurando {
  padding: 13px;
  border-radius: 30px;
  width: 400px;
  height: 35px;
  font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
  width: 150px;
}

.linha {
  background-color: #fff;
  height: 0.4px;
}

.cabecalho2 {
  text-align: center;
  padding: 15px 0 10px 0;
}

.item {
  color: #fff;
  margin: 20px;
  font: 600 16px 'WorkSans', sans-serif;
}

/* FIM DO CABEÇALHO */

/* CARROSSEL */

.carrossel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

#carrosselContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

#imagemCarrossel {
  width: 100%;
  height: auto;
}

.bolinhas {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bolinha {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin: 0 5px;
  cursor: pointer;
}

.bolinha.ativa {
  background-color: #F4B17A;
}

/* CONTEÚDO */

h2 {
  font: 200 30px 'LibreFranklin', sans-serif;
}

p {
  font: 400 20px 'WorkSans', sans-serif;
}

span {
  font-weight: 500;
}

.container {
  margin: 150px 130px;
}

.tituloCabecalho {
  margin: 50px 0;
}

.cadaCategoria {
  display: flex;
  justify-content: space-around;
}

.categoriaSeparadamente {
  text-align: center;
}

.imgCategoria img {
  background-color: #F4B17A;
  border-radius: 50%;
  width: 200px;
  margin-bottom: 5px;
}

#esportes {
  background: url(img/BannerEsportivo.png) center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

.esporte {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoEsporte {
  text-align: center;
  margin-top: 120px;
}

.textoEsporte .tituloCabecalho {
  margin: 10px 0;
}

.textoEsporte h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font: 200 40px 'LibreFranklin', sans-serif;
}

.textoEsporte a {
  font: 200 20px 'WorkSans', sans-serif;
  color: #fff;
}

.botaoEsportes {
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
  margin: 0 30px;
}

.pagamento {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 100px;
}

.formaPagamento {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 solid 1px;
  border-radius: 20px;
}

.formaPagamento img {
  width: 90px;
}