/* RESET */
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* FONTES */

@font-face {
  font-family: 'LibreFranklin';
  src: url(fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'WorkSans';
  src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* CABEÇALHO */

#header {
  background-color: #252160;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.cabecalhoUm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
  padding: 5px;
}

.procurando {
  padding: 13px;
  border-radius: 30px;
  width: 400px;
  height: 35px;
  font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
  width: 150px;
}

.linha {
  background-color: #fff;
  height: 0.4px;
}

.cabecalho2 {
  text-align: center;
  padding: 15px 0 10px 0;
}

.item {
  color: #fff;
  margin: 20px;
  font: 600 16px 'WorkSans', sans-serif;
}

/* FIM DO CABEÇALHO */

/* CARROSSEL */

.carrossel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

#carrosselContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

#imagemCarrossel {
  width: 100%;
  height: auto;
}

.bolinhas {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bolinha {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin: 0 5px;
  cursor: pointer;
}

.bolinha.ativa {
  background-color: #F4B17A;
}

/* CONTEÚDO */

h2 {
  font: 200 30px 'LibreFranklin', sans-serif;
}

p {
  font: 400 20px 'WorkSans', sans-serif;
}

span {
  font-weight: 500;
}

.container {
  margin: 130px 130px;
}

.tituloCabecalho {
  margin: 30px 0;
}

/* MAIS VENDIDAS */
/* .maisVendidos {

} */


.todas-as-meias-feminina-cano-curto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#div-meia-cano-curto {
  align-items: center;
  width: 390px;
  height: 450px;
  margin-top: 2vh;
  border: 1px solid #A5A5A5;
  border-radius: 20px;

}

/* CORES */
.cores-branca-preto-cinza,
.cores-rosa-verde,
.cores-verdeEscuro-verdeClaro-cinza,
.cores-roxo-pretaRosa {
  display: flex;
  gap: 1vh;
  margin-top: 0.75vh;
}

.branca,
.preta,
.cinza,
.verde-agua,
.verdeClaro,
.verdeMusgo,
.roxo,
.CinzaBranca,
.pretaRosa,
.rosa,
.pretaKit,
.brancaKit,
.cinzaKit {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

.branca,
.brancaKit {
  background-color: #ffffff;
  border: 1px solid #76767688;
}

.preta,
.pretaKit {
  background-color: #000000;

}

.cinza,
.cinzaKit,
.CinzaBranca {
  background-color: #A5A5A5;
}

.verde-agua {
  background-color: #00BDB5;
}

.rosa {
  background-color: #DA6A9E;
}

.verdeMusgo {
  background-color: #7BC194;
}

.verdeClaro {
  background-color: #54C999;

}

.pretaRosa {
  background: linear-gradient(to right, #000000 50%, #DA598F 50%);
}

.roxo {
  background-color: #5034A9;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-preta-cano-curto img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-verde-cano-curto img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-BrancaRosa-cano-curto img,
/* imagem da meia, rosa cano curto */
.Quadrado-da-meia-pretaRosa-cano-curto img {
  /* imagem dameia, preta com rosa cano curto */
  width: 250px;
  height: 200px;
}

.containerMeia {
  display: flex;
  justify-content: center;
}

.Quadrado-do-kit-cinza-cano-curto img,
.Quadrado-do-kit-preta-cinza-branco-cano-curto img {
  width: 370px;
  height: 200px;
}

/* estilizando as informações */
.informacoes-meia-cano-curto-feminino {
  margin-left: 2vh;
  margin-top: 2vh;
}

.CanoCurtoSubtitulo {
  font-family: 'WorkSans';
  font-weight: 600;
}

.numeracao {
  font-family: 'WorkSans';
  font-weight: 300;
}

.preco {
  font-family: 'WorkSans';
  font-size: 4vh;
  font-weight: 800;
}

.texto-a-vista {
  font-family: 'WorkSans';
  font-weight: 300;
}

.preco-informacoes {
  text-align: center;
  margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
  margin-top: 4vh;
}

.botao-euQuero {
  background-color: #252160;
  color: #fff;
  width: 240px;
  height: 50px;
  border-radius: 20px;
  margin-top: 3vh;
  font-family: 'WorkSans';
  font-weight: 600;
  font-size: 3vh;
}

#botao-da-meia-preta-branca-cinza {
  margin-top: 6.75vh;
  font-family: 'WorkSans';
  font-weight: 600;
}

/*  */

.cadaCategoria {
  display: flex;
  justify-content: space-around;
}

.categoriaSeparadamente {
  text-align: center;
}

.imgCategoria img {
  background-color: #F4B17A;
  border-radius: 50%;
  width: 120px;
  margin-bottom: 5px;
}

#esportes {
  background: url(img/BannerEsportivo.png) center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
}

.esporte {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoEsporte {
  text-align: center;
  margin-top: 120px;
}

.textoEsporte .tituloCabecalho {
  margin: 10px 0;
}

.textoEsporte h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font: 200 40px 'LibreFranklin', sans-serif;
}

.textoEsporte a {
  font: 200 20px 'WorkSans', sans-serif;
  color: #fff;
}

.botaoEsportes {
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
  margin: 0 30px;
}

.pagamento {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 100px;
}

.formaPagamento {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 solid 1px;
  border-radius: 20px;
}

.formaPagamento img {
  width: 90px;
}