* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* FONTES */

@font-face {
    font-family: 'LibreFranklin';
    src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}



#header {
    background-color: #252160;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.cabecalhoUm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 5px;
}

.procurando {
    padding: 13px;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    font: 600 16px 'WorkSans', sans-serif;

}

.imagemLogo img {
    width: 150px;
}

.linha {
    background-color: #fff;
    height: 0.4px;
}

.cabecalho2 {
    text-align: center;
    padding: 15px 0 10px 0;
}

.item {
    color: #fff;
    margin: 20px;
    font: 600 16px 'WorkSans', sans-serif;
}



/* COMEÇO DE DESCRIÇÃO */
#imagemMeia {
    margin-top: 20vh;
    border: 1px solid #A5A5A5;
    width: 50vh;
    margin-left: 5vh;
    height: 50vh;
    border-radius: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Para permitir que os itens quebrem linha em telas menores */
}

.TodasInformacoes {
    margin-left: 20vh;
    margin-top: 25vh;
    max-width: 50%;
}


.linhaDescricaoDoProduto {
    max-width: 100%;
    width: 120vh;
    height: 0.4px;
    margin-top: 3vh;
    background-color: #A5A5A5;
}

/* EDITANDO AS FONTES DE INFORMACOES */
.titulo {
    font-family: 'WorkSans';
    font-size: 5vh;
    font-weight: 600;
}

.preco {
    font-family: 'WorkSans';
    font-size: 17vh;
    font-weight: 600;
    margin-top:10vh;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;

    margin-top: 0.75vh;
}

.codigo {
    font-family: 'WorkSans';
    font-weight: 300;
    margin-top: 0.75vh;
}

.informacoesPrecoTamanho button {
    width: 229px;
    height: 55px;
    background-color: #252160;
    border-radius: 20px;
    color: #fff;
    margin-top: 4vh;
    font-family: 'WorkSans';
    font-size: 2.75vh;
    font-weight: 300;
    margin-top: 10vh;
}

.btn-whatsapp {
    margin-left: 3vh;
}

/* DESCRIÇÃO DO PRODUTO */

.titulo-DescricaoProduto {
    font-family: 'WorkSans';
    font-weight: 600;
    margin-top: 15vh;
    margin-left: 6vh;
}

.linhaUm-Descricao-do-produto {
    background-color: #000000;
    height: 1vh;
    width: 20vh;
    margin-left: 6vh;
    margin-top: 1vh;
}

.linhaDois-Descricao-do-produto {
    background-color: #000000;
    height: 0.05vh;
    width: 100%;
}

.texto-Descricao {
    font-family: 'WorkSans';
    font-weight: 400;
    margin-top: 7vh;
    margin-left: 5vh;
}

.elementosDoTexto-Descricao {
    margin-top: 3vh;
}

.titulo-CompreJunto  {
    text-align: center;
    font-family: 'LibreFranklin';
    font-weight: 500;
    margin-top: 17vh;
}

.linhaTres-CompreJunto {
    background-color: #252160;
    height: 0.55vh;
    margin-top: 3vh;
    width: 30vh;
    margin: 0 auto; /* Centraliza horizontalmente */
}
















































.todas-as-meias-feminina-cano-curto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#div-meia-cano-curto {
    align-items: center;
    width: 390px;
    height: 450px;
    margin-top: 10vh;
    border: 1px solid #A5A5A5;
    border-radius: 20px;

}

/* CORES */
.cores-branca-preto-cinza,
.cores-rosa-verde,
.cores-verdeEscuro-verdeClaro-cinza,
.cores-roxo-pretaRosa {
    display: flex;
    gap: 1vh;
    margin-top: 0.75vh;
}

.branca,
.preta,
.cinza,
.verdeAgua,
.verdeClaro,
.verdeMusgo,
.roxo,
.CinzaBranca,
.pretaRosa,
.rosa,
.pretaKit,
.brancaKit,
.cinzaKit {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.branca,
.brancaKit {
    background-color: #ffffff;
    border: 1px solid #76767688;
}

.preta,
.pretaKit {
    background-color: #000000;

}

.cinza,
.cinzaKit,
.CinzaBranca {
    background-color: #A5A5A5;
}

.verdeAgua {
    background-color: #00BDB5;
}

.rosa {
    background-color: #DA6A9E;
}

.verdeMusgo {
    background-color: #7BC194;
}

.verdeClaro {
    background-color: #54C999;

}

.pretaRosa {
    background: linear-gradient(to right, #000000 50%, #DA598F 50%);
}

.roxo {
    background-color: #5034A9;
}

/* arrumando as imagens das meias cano curto */

.Quadrado-da-meia-preta-cano-curto img,
/* imagem da primeira meia, preta cano curto */
.Quadrado-da-meia-verde-cano-curto img,
/* imagem da meia, verde cano curto */
.Quadrado-da-meia-BrancaRosa-cano-curto img,
/* imagem da meia, rosa cano curto */
.Quadrado-da-meia-pretaRosa-cano-curto img {
    /* imagem dameia, preta com rosa cano curto */
    width: 250px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
}

.Quadrado-do-kit-cinza-cano-curto img,
.Quadrado-do-kit-preta-cinza-branco-cano-curto img {
    width: 370px;
    height: 200px;
}





/* estilizando as informações */
.informacoes-meia-cano-curto-feminino {
    margin-left: 2vh;
    margin-top: 2vh;
}

.CanoCurtoSubtitulo {
    font-family: 'WorkSans';
    font-weight: 600;
}

.numeracao {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco {
    font-family: 'WorkSans';
    font-size: 4vh;
    font-weight: 800;
}

.texto-a-vista {
    font-family: 'WorkSans';
    font-weight: 300;
}

.preco-informacoes {
    text-align: center;
    margin-top: 2vh;

}

#preco-informacoes-meia-preta-cinza-branca {
    margin-top: 4vh;
}

.botao-euQuero {
    background-color: #252160;
    color: #fff;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    margin-top: 3vh;
    font-family: 'WorkSans';
    font-weight: 600;
    font-size: 3vh;
}

#botao-da-meia-preta-branca-cinza {
    margin-top: 6.75vh;
    font-family: 'WorkSans';
    font-weight: 600;
}


